
/* 
 */ 
@tailwind base;
@tailwind components;
@tailwind utilities;

/* footer */
footer{
  padding: 5rem 0;
    background-color: #182334;
    color: white;
}
footer h2{
  color: white;
}
footer li{
 list-style: none;
 color: white;
 cursor: pointer;
 margin: 1rem;
}
